<?xml version='1.0' encoding='utf-8'?>
<widget id="net.activerunway.activerunway" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ActiveRunway</name>
    <description>Determine the Best Runway to Land On</description>
    <author email="support@activerunway.net" href="http://activerunway.net">Lawrence N. Masullo, MD</author>
    <content src="index.html" />
    <access origin="*" />
    <!-- <engine name="ios" spec="~4.3.1" /> -->

    <platform name="ios">
      <icon src="icon.png" />
      <splash src="splash/ios/Default-Portrait-736h@3x.png" width="1242" height="2208"/>
      <splash src="splash/ios/Default-Landscape-736h@3x.png" width="2208" height="1242"/>

    </platform>

    <preference name="StatusBarOverlaysWebView" value="false" />

</widget>
